<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rse.core.subsystemConfigurations">
      <configuration
            category="users"
            class="net.izhtw.rse.subsystems.processes.emulator.qemu.subsystem.QemuProcessSubSystemConfiguration"
            description="Qemu Process"
            icon="icons/full/obj16/processsubsystem_obj.gif"
            iconlive="icons/full/obj16/processsubsystemlive_obj.gif"
            id="process.qemu"
            name="Qemu Process"
            priority="6000"
            systemTypeIds="net.izhtw.rse.systemtype.qemu"
            vendor="Qemu Process">net.izhtw.rse.subsystems.device.emulator.core.systemType;org.eclipse.rse.systemtype.local
      </configuration>
   </extension>

</plugin>
