<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rse.core.subsystemConfigurations">
      <configuration
            category="users"
            class="net.izhtw.rse.subsystems.emulator.skyeye.subsystem.SkyeyeSubSystemConfiguration"
            description="Skyeye Emulator"
            icon="icons/full/obj16/monitor_obj.gif"
            iconlive="icons/full/obj16/systemlocallive_obj.gif"
            id="skyeye.emulator"
            name="Skyeye Emulator"
            priority="5000"
            systemTypeIds="net.izhtw.rse.systemtype.skyeye;org.eclipse.rse.systemtype.local"
            vendor="Skyeyevendor">
      </configuration>
   </extension>

</plugin>
