<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!--
   <extension
         point="org.eclipse.rse.core.subsystemConfigurations">
      <configuration
            category="users"
            class="net.izhtw.rse.subsystems.processes.emulator.local.subsystem.impl.EmulatorProcessSubSystemConfiguration"
            description="Local Process"
            icon="icons/full/obj16/processsubsystem_obj.gif"
            iconlive="icons/full/obj16/processsubsystemlive_obj.gif"
            id="process.local"
            name="Local Process"
            priority="6000"
            systemTypeIds="net.izhtw.rse.systemtype.qemu"
            vendor="Local Process">
      </configuration>
   </extension>
-->
</plugin>
