<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rse.core.subsystemConfigurations">
      <configuration
            category="users"
            class="net.izhtw.rse.subsystems.device.emulator.qemu.subsystem.QemuSubSystemConfiguration"
            description="QEMU Emulator"
            icon="icons/full/obj16/monitor_obj.gif"
            iconlive="icons/full/obj16/systemlocallive_obj.gif"
            id="qemu.emulator"
            name="QEMU Emulator"
            priority="5000"
            systemTypeIds="net.izhtw.rse.subsystems.device.emulator.core.systemType;org.eclipse.rse.systemtype.local"
            vendor="QEMU">
      </configuration>
   </extension>

</plugin>
