<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rse.core.systemTypes">
      <systemType
            description="Emulator"
            id="net.izhtw.rse.subsystems.device.emulator.core.systemType"
            label="Emulator"
            name="net.izhtw.rse.subsystems.device.emulator.core.systemType">
      </systemType>
   </extension>

</plugin>
